<a href="https://colab.research.google.com/github/kjh0530/python_basic/blob/main/py2_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문자열의 format() 함수

In [1]:
# format() 함수로 숫자를 문자열로 변환하기
string_a = "{}".format(10)

# 출력하기
print(string_a)
print(type(string_a))

10
<class 'str'>

In [2]:
# format() 함수로 숫자를 문자열로 변환하기
format_a = "{}만 원".format(5000)
format_b = "문자열 안에 숫자 {} 넣기".format(5000)
format_c = "{} {} {}".format(3000, 4000, 5000)
format_d = "{} {} {}".format(1, "문자열", True)

# 출력하기
print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만 원
문자열 안에 숫자 5000 넣기
3000 4000 5000
1 문자열 True

In [5]:
# 정수
output_a = "{:d}".format(52)

# 특정 칸에 출력하ㅣㄱ
output_b = "{:5d}".format(52)
output_c = "{:10d}".format(52)

# 빈칸을 0으로 채우기
output_d = "{:05d}".format(52)
output_e = "{:05d}".format(-52)

# 출력
print("# 기본")
print(output_a)
print("# 특정 칸에 출력하기")
print(output_b)
print(output_c)
print("# 빈칸을 0으로 채우기")
print(output_d)
print(output_e)

# 기본
52
# 특정 칸에 출력하기
   52
        52
# 빈칸을 0으로 채우기
00052
-0052

In [6]:
# 기호와 함께 출력하기
output_f = "{:+d}".format(52)   # 양수
output_g = "{:+d}".format(-52)  # 음수
output_h = "{: d}".format(52)   # 양수 : 기호 부분 공백
output_i = "{: d}".format(-52)  # 음수 : 기호 부분 공백

print("# 기호와 함께 출력하기")
print(output_f)
print(output_g)
print(output_h)
print(output_i)

# 기호와 함께 출력하기
+52
-52
 52
-52

In [9]:
# 소수점 아래 자릿수 지정
output_a = "{:.3f}".format(52.273)
output_b = "{:.2f}".format(52.273)
output_c = "{:.1f}".format(52.273)
output_d = "{:.0f}".format(52.273)

print(output_a)
print(output_b)
print(output_c)
print(output_d)

52.273
52.27
52.3
52

In [10]:
# 의미 없는 소수점 제거하기
output_a = 52.0
output_b = "{:g}".format(output_a)
print(output_a)
print(output_b)

52.0
52

In [12]:
# 대소문자 바꾸기
string_a = "Hello Python Programming...!"
b = string_a.upper()
c = string_a.lower()

print(string_a)
print(b)
print(c)

Hello Python Programming...!
HELLO PYTHON PROGRAMMING...!
hello python programming...!

In [13]:
# 문자열 찾기
a = "안녕안녕하세요".find("안녕")
b = "안녕안녕하세요".rfind("안녕")
print(a)
print(b)

0
2

In [14]:
# 문자열과 in 연산자
print("안녕" in "안녕하세요")
print("아니" in "안녕하세요")

True
False

In [15]:
# split() 함수로 문자열 자르기
a = "10 20 30 40 50".split(" ")
print(a)

['10', '20', '30', '40', '50']

마무리 문제 3

In [17]:
a = input("> 1번째 숫자: ")
b = input("> 2번째 숫자: ")
print()

print("{} + {} = {}".format(a, b, int(a)+int(b)))

> 1번째 숫자: 100
> 2번째 숫자: 200

100 + 200 = 300

도전문제 1

In [19]:
# 구의 부피와 겉넓이
r = float(input("구의 반지름을 입력해주세요: "))
print(f"= 구의 부피는 {4/3*3.141592*r**3} 입니다.")
print(f"= 구의 겉넓이는 {4*3.141592*r**2} 입니다.")

구의 반지름을 입력해주세요: 5
= 구의 부피는 523.5986666666666 입니다.
= 구의 겉넓이는 314.1592 입니다.

도전문제 2

In [21]:
# 피타고라스의 정리
a = float(input("밑변의 길이를 입력해주세요: "))
b = float(input("높이의 길이를 입력해주세요: "))
print(f"= 빗변의 길이는 {((a**2)+(b**2))**(1/2)} 입니다.")

밑변의 길이를 입력해주세요: 3.0
높이의 길이를 입력해주세요: 4.0
= 빗변의 길이는 5.0 입니다.