<a href="https://colab.research.google.com/github/kjh0530/python_basic/blob/main/py3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

불 자료형: 비교 연산자

In [ ]:
print(10 == 100)
print(10 != 100)
print(10 < 100)
print(10 > 100)
print(10 <= 100)
print(10 >= 100)

False
True
True
False
True
False

논리 연산자(not, and, or)

In [ ]:
print(not True)
print(not False)

False
True

In [ ]:
x = 10
under_20 = x < 20
print("under_20:", under_20)
print("not under_20:", not under_20)

under_20: True
not under_20: False

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
False
False
False
True
True
True
False

if 조건문

In [ ]:
if True:
  print("True 입니다.")
  print("real True")

if False:
  print("False 임")

True 입니다.
real True

In [ ]:
number = int(input("정수 입력> "))
if number > 0:
  print("양수 입니다")
if number < 0:
  print("음수 입니다")
if number == 0:
  print("0 입니다")

정수 입력> -45
음수 입니다

날짜 시간 활용하기 datetime

In [ ]:
import datetime
now = datetime.datetime.now()

print(now.year, "년")
print(now.month, "월")
print(now.day, "일")
print(now.hour, "시")
print(now.minute, "분")
print(now.second, "초")

2024 년
7 월
7 일
9 시
18 분
16 초

In [ ]:
import datetime
now = datetime.datetime.now()
if now.hour < 12:
  print("현재 시각은 {}시로 오전입니다.".format(now.hour))
if now.hour >= 12:
  print("현재 시각은 {}시로 오후입니다.".format(now.hour))

현재 시각은 9시로 오전입니다.

In [ ]:
import datetime
now = datetime.datetime.now()

if 3<=now.month<=5:
  print("이번 달은 {}월로 봄 입니다.".format(now.month))
if 6<=now.month<=8:
  print("이번 달은 {}월로 여름 입니다.".format(now.month))
if 9<=now.month<=11:
  print("이번 달은 {}월로 가을 입니다.".format(now.month))
if now.month == 12 or 1<=now.month<=2:
  print("이번 달은 {}월로 겨울 입니다.".format(now.month))

이번 달은 7월로 여름 입니다.

In [ ]:
number = int(input("정수 입력> "))
if number%2 == 0:
  print("짝수입니다")
if number%2 != 0:
  print("홀수입니다.")

정수 입력> 1231654654
짝수입니다

In [ ]:
number = input("정수 입력> ")
last_character = number[-1]

if last_character in "02468":
  print("짝수입니다")
if last_character in "13579":
  print("홀수입니다")

정수 입력> 2134564
짝수입니다

In [ ]:
a = int(input("1번 숫자: "))
b = int(input("2번 숫자: "))
print()
if a>b :
  print("1번 숫자인 {}가 2번 숫자인 {}보다 큽니다".format(a, b))
if a<b :
  print("2번 숫자인 {}가 1번 숫자인 {}보다 큽니다".format(b,a))

1번 숫자: 10
2번 숫자: 100

2번 숫자인 100가 1번 숫자인 10보다 큽니다