<a href="https://colab.research.google.com/github/kjh0530/python_basic/blob/main/py4_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

리스트에 적용할 수 있는 기본함수: min(), max(), sum()

In [1]:
numbers = [103, 52, 273, 32, 77]
print(min(numbers))
print(max(numbers))
print(sum(numbers))

32
273
537

In [2]:
list_a = [1, 2, 3, 4, 5]
list_reversed = reversed(list_a)

print("# reversed() 함수")
print("reversed([1, 2, 3, 4, 5]):", list_reversed)
print("list(reversed([1, 2, 3, 4, 5])):", list(list_reversed))
print()

print("# reversed() 함수와 반복문")
print("for i in reversed([1, 2, 3, 4, 5]):")
for i in reversed(list_a):
  print("-", i)

# reversed() 함수
reversed([1, 2, 3, 4, 5]): <list_reverseiterator object at 0x7e22e1126d10>
list(reversed([1, 2, 3, 4, 5])): [5, 4, 3, 2, 1]

# reversed() 함수와 반복문
for i in reversed([1, 2, 3, 4, 5]):
- 5
- 4
- 3
- 2
- 1

In [3]:
example_list = ["요소A", "요소B", "요소C"]

print("# 단순 출력")
print(example_list)
print()

print("# enumerate() 함수 적용 출력")
print(enumerate(example_list))
print()

print("# list() 함수로 강제 변환 출력")
print(list(enumerate(example_list)))
print()

print("# 반복문과 조합하기")
for i, value in enumerate(example_list):
  print("{}번째 요소는 {}입니다.".format(i, value))

# 단순 출력
['요소A', '요소B', '요소C']

# enumerate() 함수 적용 출력
<enumerate object at 0x7e22d019c080>

# list() 함수로 강제 변환 출력
[(0, '요소A'), (1, '요소B'), (2, '요소C')]

# 반복문과 조합하기
0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

In [4]:
example_dictionary = {
    "키A": "값A",
    "키B": "값B",
    "키C": "값C",
}

print("# 딕셔너리의 items() 함수")
print("items():", example_dictionary.items())
print()

print("# 딕셔너리의 items() 함수와 반복문 조합")

for key, element in example_dictionary.items():
  print("dictionary[{}] = {}".format(key, element))

# 딕셔너리의 items() 함수
items(): dict_items([('키A', '값A'), ('키B', '값B'), ('키C', '값C')])

# 딕셔너리의 items() 함수와 반복문 조합
dictionary[키A] = 값A
dictionary[키B] = 값B
dictionary[키C] = 값C

In [5]:
array = []

for i in range(0, 20, 2):
  array.append(i*i)

print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [6]:
array = [i * i for i in range(0, 20, 2)]

print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [7]:
array = ["사과", "자두", "초콜릿", "바나나", "체리"]
output = [fruit for fruit in array if fruit != "초콜릿"]

print(output)

['사과', '자두', '바나나', '체리']

마무리 문제

In [8]:
output = [i for i in range(1, 100) if "{:b}".format(i).count("0") == 1]
for i in output:
  print("{} : {}".format(i, "{:b}".format(i)))
print("합계:", sum(output))

2 : 10
5 : 101
6 : 110
11 : 1011
13 : 1101
14 : 1110
23 : 10111
27 : 11011
29 : 11101
30 : 11110
47 : 101111
55 : 110111
59 : 111011
61 : 111101
62 : 111110
95 : 1011111
합계: 539

도전 문제

In [14]:
list_a = [1, 2, 3, 4, 1, 2, 3, 1, 4, 1, 2, 3]
counter = {}
for i in list_a:
  if i not in counter:
    counter[i] = 0
  counter[i] += 1

print("{}에서 \n사용된 숫자의 종류는 {}개입니다.\n참고: {}".format(list_a, len(counter), counter))

[1, 2, 3, 4, 1, 2, 3, 1, 4, 1, 2, 3]에서
사용된 숫자의 종류는 4개입니다.
참고: {1: 4, 2: 3, 3: 3, 4: 2}

In [16]:
string = input("염기 서열을 입력해주세요:")
count = {'a':0, 't':0, 'g':0, 'c':0}
count['a']= string.count('a')
count['t']= string.count('t')
count['g']= string.count('g')
count['c']= string.count('c')
print(count)

염기 서열을 입력해주세요:ctacaatgtcagtatacccattgcattagccgg
{'a': 9, 't': 9, 'g': 6, 'c': 9}

In [19]:
string = input("염기 서열을 입력해주세요:")
counter = {}

for i in range(0, len(string), 3):
  codon = string[i:i+3]
  if len(codon) != 3:
    break
  if codon not in counter:
    counter[codon] = 0
  counter[codon] += 1
print(counter)

염기 서열을 입력해주세요:ctaca
{'cta': 1}

In [27]:
a = [1, 2, [3, 4], 5, [6, 7], [8, 9]]
b = []
for i in a:
  if type(i) == list:
    for j in i:
      b.append(j)
    continue
  b.append(i)

print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]