<a href="https://colab.research.google.com/github/kjh0530/python_basic/blob/main/py4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

반복문

리스트(list)

In [1]:
array = [273, 32, 103, "문자열", True, False]
print(array)

[273, 32, 103, '문자열', True, False]

In [2]:
list_a = [273, 32, 103, "문자열", True, False]
print(list_a[0])
print(list_a[1])
print(list_a[2])
print(list_a[1:3])

273
32
103
[32, 103]

In [3]:
list_a = [273, 32, 103, "문자열", True, False]
print(list_a)
list_a[0] = "변경"
print(list_a)

[273, 32, 103, '문자열', True, False]
['변경', 32, 103, '문자열', True, False]

In [4]:
list_a = [273, 32, 103, "문자열", True, False]
print(list_a[-1])
print(list_a[-2])
print(list_a[-3])

False
True
문자열

In [5]:
list_a = [273, 32, 103, "문자열", True, False]
print(list_a[3])
print(list_a[3][0])

문자열
문

In [6]:
list_b = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(list_b[1])
print(list_b[1][1])

[4, 5, 6]
5

In [8]:
list_c = [273, 32, 103]
#list_c[3]

리스트 연산자

In [12]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

print("# 리스트")
print("list_a =", list_a)
print("list_b =", list_b)
print()

print("# 리스트 기본 연산자")
print("list_a + list_b =", list_a + list_b)
print("list_a * 3 =", list_a * 3)
print()

print("# 길이 구하기")
print("len(list_a) =", len(list_a))
print()

list_c = list_a + list_b
print("list_c = list_a + list_b")
print("list_c =", list_c)

# 리스트
list_a = [1, 2, 3]
list_b = [4, 5, 6]

# 리스트 기본 연산자
list_a + list_b = [1, 2, 3, 4, 5, 6]
list_a * 3 = [1, 2, 3, 1, 2, 3, 1, 2, 3]

# 길이 구하기
len(list_a) = 3

list_c = list_a + list_b
list_c = [1, 2, 3, 4, 5, 6]

리스트에 요소 추가하기

In [13]:
list_a = [1, 2, 3]

print("# 리스트 뒤에 요소 추가하기")
list_a.append(4)
list_a.append(5)
print(list_a)
print()

print("# 리스트 중간에 요소 추가하기")
list_a.insert(0, 10)
print(list_a)

# 리스트 뒤에 요소 추가하기
[1, 2, 3, 4, 5]

# 리스트 중간에 요소 추가하기
[10, 1, 2, 3, 4, 5]

In [14]:
list_a = [1, 2, 3]
list_a.extend([4, 5, 6])
print(list_a)

[1, 2, 3, 4, 5, 6]

In [19]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
print(list_a + list_b)
print(list_a)
list_a.extend(list_b)
print(list_a)
print(list_b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[1, 2, 3, 4, 5, 6]
[4, 5, 6]

리스트 요소 제거

In [20]:
list_a = [0, 1, 2, 3, 4, 5]
print("# 리스트의 요소 하나 제거하기")

print("이전의 리스트:", list_a)
del list_a[1]
print("del list_a[1]:", list_a)

list_a.pop(2)
print("list_a.pop(2):", list_a)

# 리스트의 요소 하나 제거하기
이전의 리스트: [0, 1, 2, 3, 4, 5]
del list_a[1]: [0, 2, 3, 4, 5]
list_a.pop(2): [0, 2, 4, 5]

In [22]:
list_a = [0, 1, 2, 3, 4, 5, 6]
list_b = [0, 1, 2, 3, 4, 5, 6]
list_c = [0, 1, 2, 3, 4, 5, 6]
print("# 리스트의 요소 범위로 제거하기")

print("이전의 리스트:", list_a)
del list_a[3:6]
print("del list_a[3:6]:", list_a)
print()

print("이전의 리스트:", list_b)
del list_b[:3]
print("del list_a[:3]:", list_b)
print()

print("이전의 리스트:", list_c)
del list_c[3:]
print("del list_a[3:]:", list_c)
print()

# 리스트의 요소 범위로 제거하기
이전의 리스트: [0, 1, 2, 3, 4, 5, 6]
del list_a[3:6]: [0, 1, 2, 6]

이전의 리스트: [0, 1, 2, 3, 4, 5, 6]
del list_a[:3]: [3, 4, 5, 6]

이전의 리스트: [0, 1, 2, 3, 4, 5, 6]
del list_a[3:]: [0, 1, 2]

In [23]:
# 값으로 제거하기: remove()
list_a = [1, 2, 1, 2]
list_a.remove(2)
print(list_a)

[1, 1, 2]

In [24]:
list_a = [0, 1, 2, 3, 4, 5]
list_a.clear()
print(list_a)

[]

리스트 정렬하기: sort()

In [26]:
list_a = [52, 273, 103, 32, 275, 1, 7]
print("정렬 전:", list_a)
list_a.sort()
print("정렬 후:", list_a)
list_a.sort(reverse=True)
print("내림차순 정렬:", list_a)

정렬 전: [52, 273, 103, 32, 275, 1, 7]
정렬 후: [1, 7, 32, 52, 103, 273, 275]
내림차순 정렬: [275, 273, 103, 52, 32, 7, 1]

리스트 내부에 있는지 확인하기

In [27]:
list_a = [273, 32, 103, 57, 52]
print(273 in list_a)
print(99 in list_a)

True
False

In [28]:
list_a = [273, 32, 103, 57, 52]
print(273 not in list_a)
print(99 not in list_a)

False
True

for 반복문

In [29]:
for i in range(5):
  print("출력")

출력
출력
출력
출력
출력

In [30]:
array = [273, 32, 103, 57, 52]

for element in array:
  print(element)

273
32
103
57
52

In [31]:
# 2차원 리스트 중첩 반복문으로 출력
list_of_list = [[1, 2, 3], [4, 5, 6, 7], [8, 9]]
for a in list_of_list:
  for b in a:
    print(b)

1
2
3
4
5
6
7
8
9

4-1 마무리 문제

In [32]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
  if number >= 100:
    print(" - 100 이상의 수:", number)

 - 100 이상의 수: 273
 - 100 이상의 수: 103
 - 100 이상의 수: 800

In [33]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
  if number % 2 == 0:
    print("{} 는 짝수입니다.".format(number))
  else:
    print("{} 는 홀수입니다.".format(number))

273 는 홀수입니다.
103 는 홀수입니다.
5 는 홀수입니다.
32 는 짝수입니다.
65 는 홀수입니다.
9 는 홀수입니다.
72 는 짝수입니다.
800 는 짝수입니다.
99 는 홀수입니다.

In [36]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
  print("{} 는 {} 자릿수입니다.".format(number, len(str(number))))

273 는 3 자릿수입니다.
103 는 3 자릿수입니다.
5 는 1 자릿수입니다.
32 는 2 자릿수입니다.
65 는 2 자릿수입니다.
9 는 1 자릿수입니다.
72 는 2 자릿수입니다.
800 는 3 자릿수입니다.
99 는 2 자릿수입니다.

In [38]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
output = [[], [], []]

for number in numbers:
  output[(number+2)%3].append(number)

print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [43]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(0, len(numbers) // 2):

  j = i*2+1
  print(f"i = {i}, j= {j}")
  numbers[j] = numbers[j] ** 2

print(numbers)

i = 0, j= 1
i = 1, j= 3
i = 2, j= 5
i = 3, j= 7
[1, 4, 3, 16, 5, 36, 7, 64, 9]