<a href="https://colab.research.google.com/github/kjh0530/python_basic/blob/main/py4_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

범위 range()

In [ ]:
a = range(5)
print(a)
print(list(a))

range(0, 5)
[0, 1, 2, 3, 4]

In [ ]:
print(list(range(0, 5)))
print(list(range(5, 10)))

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]

In [ ]:
print(list(range(0, 10, 3)))
print(list(range(5, 30, 5)))

[0, 3, 6, 9]
[5, 10, 15, 20, 25]

for 반복문과 범위

In [ ]:
for i in range(5):
  print(str(i) + "= 반복 변수")
print()

for i in range(5, 10):
  print(str(i) + "= 반복 변수")
print()

for i in range(0, 10, 3):
  print(str(i) + "= 반복 변수")
print()

0= 반복 변수
1= 반복 변수
2= 반복 변수
3= 반복 변수
4= 반복 변수

5= 반복 변수
6= 반복 변수
7= 반복 변수
8= 반복 변수
9= 반복 변수

0= 반복 변수
3= 반복 변수
6= 반복 변수
9= 반복 변수

for 반복문: 리스트와 범위 조합

In [ ]:
array = [273, 32, 103, 57, 52]

for element in array:
  print(element)

273
32
103
57
52

In [ ]:
array = [273, 32, 103, 57, 52]

for i in range(len(array)):
  print("{}번째 반복: {}".format(i, array[i]))

0번째 반복: 273
1번째 반복: 32
2번째 반복: 103
3번째 반복: 57
4번째 반복: 52

역반복문

In [ ]:
for i in range(4, 0 - 1, -1):
  print("현재 반복 변수: {}".format(i))

현재 반복 변수: 4
현재 반복 변수: 3
현재 반복 변수: 2
현재 반복 변수: 1
현재 반복 변수: 0

In [ ]:
for i in reversed(range(5)):
  print("현재 반복 변수: {}".format(i))

현재 반복 변수: 4
현재 반복 변수: 3
현재 반복 변수: 2
현재 반복 변수: 1
현재 반복 변수: 0

중첩 반복문으로 피라미드 만들기

In [ ]:
string = ""
for i in range(1, 10):
  for j in range(i):
    string += "*"
  string += "\n"
print(string)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
string = ""
for i in range(1, 15):
  for k in range(14, i, -1):
    string += " "
  for j in range(2*i-1):
    string += "*"
  string += "\n"
print(string)

             *
            ***
           *****
          *******
         *********
        ***********
       *************
      ***************
     *****************
    *******************
   *********************
  ***********************
 *************************
***************************

while 반복문

In [ ]:
i = 0
while i < 10:
  print("{}번째 반복입니다.".format(i))
  i += 1

0번째 반복입니다.
1번째 반복입니다.
2번째 반복입니다.
3번째 반복입니다.
4번째 반복입니다.
5번째 반복입니다.
6번째 반복입니다.
7번째 반복입니다.
8번째 반복입니다.
9번째 반복입니다.

In [ ]:
list_test = [1, 2, 1, 2]
value = 2

while value in list_test:
  list_test.remove(value)
print(list_test)

[1, 1]

In [3]:
# 시간과 관련된 기능을 가져온다
import time

number = 0

# 유닉스 타임에 5를 더한 후
target_tick = time.time() + 5

# 5초가 지날 때까지 반복
while time.time() < target_tick:
  number += 1

print("5초 동안 {}번 반복했습니다.".format(number))

5초 동안 24244320번 반복했습니다.

In [4]:
i = 0

while True:
  print("{}번째 반복문입니다.".format(i))
  i = i + 1
  input_text = input("> 종료하시겠습니까?(y/n): ")
  if input_text in ["y", "Y"]:
    print("반복을 종료합니다.")
    break

0번째 반복문입니다.
> 종료하시겠습니까?(y/n): n
1번째 반복문입니다.
> 종료하시겠습니까?(y/n): n
2번째 반복문입니다.
> 종료하시겠습니까?(y/n): n
3번째 반복문입니다.
> 종료하시겠습니까?(y/n): n
4번째 반복문입니다.
> 종료하시겠습니까?(y/n): y
반복을 종료합니다.

In [5]:
numbers = [5, 15, 6, 20, 7, 25]

for number in numbers:
  if number < 10:
    continue
  print(number)

15
20
25

마무리 문제

In [12]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}
for i in range(0, len(key_list)):
  character[key_list[i]] = value_list[i]
print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [15]:
limit = 10000
i = 1
sum_value = 0
while sum_value < 10000:
  sum_value = sum_value + i
  i = i + 1

print("{}를 더할 때 {}을 넘으며 그때의 값은 {}입니다.".format(i-1, limit, sum_value))

141를 더할 때 10000을 넘으며 그때의 값은 10011입니다.

In [18]:
max_value = 0
a = 0
b = 0

for i in range(1, 100):
  j = 100 - i
  current = i*j
  if max_value < current:
    a = i
    b = j
    max_value = current
print("최대가 되는 경우: {} * {} = {}".format(a, b, max_value))

최대가 되는 경우: 50 * 50 = 2500